<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2024 Rosic Lab</p>
              <p>We are part of the <a href="https://oti.eng.ox.ac.uk/">Osney Thermofluids Institute</a> at the<a href="https://eng.ox.ac.uk/"> University of Oxford</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  <b>Research summary:</b><br />
      - Multiscale modelling<br />
      - Accelerating multiphysics computational science with AI<br />
      - Heat transfer measurements<br />
      - Combustor-turbine interactions<br />
		</div>
		<div class="col-sm-4">
		  <b>Contact:</b><br />
		  Oxford Thermofluids Institute<br />
		  Southwell Building, Osney Mead<br />
		  Oxford, OX2 0ES<br />
		  United Kingdom <br />
            (<a href="https://www.google.com/maps/place/Oxford+Thermofluids+Institute+(OTI)/@51.7465152,-1.2711211,15z/data=!4m6!3m5!1s0x4876c74663b90e9d:0x1d9c0805f702e205!8m2!3d51.7465152!4d-1.2711211!16s%2Fg%2F11vl942jkb?entry=ttu&g_ep=EgoyMDI0MDgyNy4wIKXMDSoASAFQAw%3D%3D">Maps</a>, <a href="https://oti.eng.ox.ac.uk/contact/">Directions</a>, <a href="mailto:budimir.rosic@eng.ox.ac.uk">Email</a>
)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
